@font-face {
  font-family: "iconfont"; /* Project id 2830352 */
  src: url('iconfont.woff2?t=1632490900982') format('woff2'),
       url('iconfont.woff?t=1632490900982') format('woff'),
       url('iconfont.ttf?t=1632490900982') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-200yonghu_yonghu:before {
  content: "\e63c";
}

.icon-gongwenbao:before {
  content: "\e618";
}

.icon-xiaoxi:before {
  content: "\e619";
}

.icon-bixin:before {
  content: "\e685";
}

